// TODO setup your sites typography

// TODO Example font-families, you probably want to remove these
+font-samples

a
  &:link
    color: dark-blue  
  &:active
    color: red
  &:visited
    color: gray
  &:hover
    text-decoration: none
    