.error
  #sub-menu
    = partial "contents"

  #content
    %h2 We&#x27;re sorry, but something went wrong.
    %p We&#x27;ve been notified about this issue and we'll take a look at it shortly.

  #side-bar
    = partial 'sidebar'