%h1

%ul
  %li The business (or businesses) the company is engaged in
  %li The corporate structure (parent company, other members of the family, subsidaries)
  %li Addresses and phone numbers of all offices, brances, and representatives
  %li Names and title of major corproate officers
  %li History
  %li Plants and other facilities
  %li Geogrpahical coverage
  %li Major markets
  %li Distribution systems
  %li Sales
  %li Ranking in it field relative to competition
  %li Extent of stock distribution
  %li Earnings record
  %li Dividends record
  %li Number of Employees
  %li Noteworthy employees (e.g. scientist, inventors)
  %li Inventions
  %li Significant achievements
  %li Research and development
  %li Quality control practices
  %li Compliance with important standards, guidelines, and regulations (e.g., complienace with ISO 9000 quality standards, participation in Responsible Care environmental safety programs, and so fort)
  %li Actions with respect to the environment
  %li Contribitions (to art, public welfare, and so forth
  %li Awards
  %li Policies
  %li Plans