%h2 Contact

%p
  %ul
    %li Company Name
    %li Logo
    %li Physical Mailing Address
    %li Phone numbers, and extensions, including toll-free numbers
    %li Fax number
    %li Email addresses
    %li Hours
    %li Map with driving directions
    %li Branch offices
    %li Guarantee
    %li Disclaimers
    %li Other required legal wording
    %li Permissions and acknowledgements
    %li Trademarks and registrations
    %li Copyright notice
    %li Product codes and other official emblems (e.g., Good Housekeeping Seal, Underwriters Laboratory).

%h3 Example

%p Want to get in touch with us? There are many ways to contact Firsthand Web Design.

%h4 Address

%p Phone: 555-555-5555 Fax: 555-555-5555

%p Email: {email}

%h4 For a fast and effective response, contact us online

%p Have a question about the company or products? Simply complete our online form to ask a question.

%p You can also contact us for information regarding:

%p Sales Dealerships {Company} is currently looking for agents and dealers across the United States and Europe to distribute the {product}. If your company is interested in adding gamma cameras to your current product line, please contact us for more information and a dealer profile information package.

%p Careers For details on current career opportunities please visit the career section of our site.