%h1 Getting Started as an Online Business

%p {thumbnail}

%h2 A guide for all Spiffy Shopper users

%p
  = link "Download Now &raquo;"
  (PDF - 580k)

%p Is your business moving into e-commerce? This guide offers a brief introduction to the world of e-commerce, a handy checklist to get you started on what you need, and a resourceful glossary of common Spiffy Shopper and e-commerce related terms.

%h3 Guide Topics Include:

%ul
  %li Getting Your Store Online Checklist
  %li Common Questions, Answered
  %li Key Points
  %li Accepting Credit Cards
  %li Driving Shoppers to Your Store
  %li The MIVA Suite of Products and Services
  %li The E-commerce Environment
  %li Glossary
  %li Importing Product Data
  %li Increasing Your Sales
  %li Keeping Design in Mind
  %li Where To Go From Here

%p
  = link "Download Now &raquo;" 
  (PDF - 580k)