.simple
  #sub-menu
    = partial "contents"

  #content
    %h1 This is an example of Heading 1

    %h2 This is an example of heading 2

    %h3 This is an example of heading 3

    %h4 This is an example of heading 4

    %h5 This is an example of heading 5

    %h6 This is an example of heading 6

    %p A simple paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    %p
      Paragraph
      = link "with a link"
      Remember to style for unvisited, visited, hover and active.

    %ul
      %li An unorder list
      %li With another item
      %li An more items

    %ol
      %li An order list
      %li With another item
      %li An more items  

  #side-bar
    = partial 'sidebar'
  
