#contact
  %p
    %a{:href => "http://www.firsthand.ca"} Firsthand Web Design
    %br
    410-5220 Jeanne Mance
    %br
    Ph 555-555-1234
    %br
    Fax 555-6666-1234
    %br
    %a{:href => "mailto:firsthand@example.com"} firsthand@example.com
#legal
  %p 
    &copy; 2009 Firsthand Web Design 
    %br
    All Rights Reserved
    %br
    = link "Privacy Statement", "privacy.html?ref=footer"
    %br
    = link "Terms Of Use", "terms.html?ref=footer"