%form#cse-search-box{:action => '/search'}
  %div
    %input{:name => 'cx', :type => 'hidden', :value => 'add-this'}
    %input{:name => 'cof', :type => 'hidden', :value => 'FORID:11'}
    %input{:name => 'ie', :type => 'hidden', :value => 'UTF-8'}
    %input{:class => 'text search', :name => 'q', :type => 'text'}