%ul.level1
  %li.submenu
    = link "Solutions", "solutions.html?ref=main"
    %ul.level2
      %li=link "Global", "global.html?ref=main"
      %li=link "Small Business", "small_business.html?ref=main"
  %li.submenu
    = link "Products", "products.html?ref=main"
    %ul.level2
      %li=link "Enterprise", "enterprise.html?ref=main"
      %li=link "Trial", "trial.html?ref=main"
  %li=link "Services", "services.html?ref=main"
  %li=link "Support", "support.html?ref=main"
  %li.submenu
    =link "Company", "company.html?ref=main"
    %ul.level2
      %li.submenu
        =link "News", "news.html?ref=main"
        %ul.level3
          %li=link "Press Releases"
          %li=link "Media Coverage"                
      %li=link "Events", "events.html?ref=main" 
      %li=link "Management", "management.html?ref=main"
      %li=link "Contact", "contact.html?ref=main"
  %li= link "Blog", "blog.html?ref=main"